h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}


body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.board {
    width: 300px;
    height: fit-content;
    margin-top: 50px;
}

h2 {
    color: white;
}
.cell {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    color: white;
    flex: 1;
    font-size: 2.5rem;
}

.row {
    display: flex;
}

output {
    margin-top: 50px;
    color: white;
    font-size: 1.8rem;
}